[2018-02-06 22:49] LuisFSilva opened #1 "Error instaling"
Error while following installation guide.

When trying to clone:

RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
Are you sure you want to continue connecting (yes/no)?

Permission denied (publickey).
fatal: Could not read from remote repository.

and the repository exists.

Solution:
Change URLs to subrepos to use HTTP instead of SSH.

I'll submit a PR soon.

[2018-02-06 22:59] glaand commented on #1
Solved at https://github.com/glaand/tpp/commit/75e466c8c37f11006b601b38668e2a15e9c45204

[2018-02-06 22:59] #1 closed, assigned to glaand

[2018-02-07 11:17] Tiago-OP opened #2 "[QUESTION] RoadMap"
Boas,

Acho a ideia interessante, e acho que devias implementar um roadmap na Wiki, para o pessoal que quer contribuir ter uma ideia do que é necessário fazer :)

Cumps,
TB

[2018-02-07 11:31] fabiulous commented on #2
Concordo.

Eu posso ajudar a preparar uma versão básica da pagina (preferencialmente reactjs), mas seria melhor ter um roadmap.
Infelizmente não posso ajudar muito com python.

Abraço,
Fabio

[2018-02-07 12:29] glaand commented on #2
Bem top a ideia. Acho que é a primeira coisa que vou fazer. Alguém da
subscribed list está interessado em ser o coordenador?

Am 07.02.2018 12:31 schrieb "Fabio Santos" <notifications@github.com>:

[2018-02-07 17:52] Rui-Santos opened #3 "Como submeter mais localidades?"
OK, Instalei o API e corri-o, tudo funcional. Mas só tem Distritos e Cidades, penso eu. Como se pode contribuir com mais dados, tipo concelhos, freguesias, vilas, localidades/aldeias?

Eu há uns uns anos fui obrigado a arranjar uma lista de concelhos e freguesias, e foi fácil, pois penso que foi no site da ANMP(Associação Nacional de Municípios de Portugal), que a encontrei. As localidades com sor

[2018-02-07 18:17] fabiulous commented on #3
Podem ir buscar os distritos e concelhos ao Queroemprego:

https://api.queroemprego.pt/graphql?query=query%7B%0A%20%20locations%20%7B%0A%20%20%20%20id%2C%0A%20%20%20%20name%2C%0A%20%20%20%20children%20%7B%0A%20%20%20%20%20%20id%2C%0A%20%20%20%20%20%20name%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D

[2018-02-07 18:18] fabiulous commented on #3
Associamos as localidades através de um parentId da mesma tabela que pode ou não ser null

[2018-02-07 18:20] glaand commented on #3
Nice pelo running!
As localidades/aldeias são ser definidas pelo modelo: stations
Os concelhos são definidos pelo modelo: communities.

Começa com os concelhos. Top seria que convertesses a lista para SQL e assim integrávamos nas migrações do projeto.

[2018-02-07 18:23] glaand commented on #3
![image](https://user-images.githubusercontent.com/17197309/35933916-557d07f8-0c3c-11e8-938a-b9616e767d5c.png)
City é uma ForeignKey ao modelo cities.

[2018-02-07 18:27] Rui-Santos commented on #3
Dás-me um exemplo da estrutura que deverei criar? Tipo um exemplo com dados reais. Usa um Concelho e uma localidade qualquer te venha à cabeça. Eu sou bom a imitar, mas não sou grande programador, e bases de dados não são mesmo algo de que perceba muito, mas penso que seja só repetir o exemplo para cada entrada =D

[2018-02-07 18:32] fabiulous commented on #3
Huum, não sei se faz sentido ter stations como o modelo para uma aldeia, visto que uma aldeia é uma localidade que tem um parente.

As estações são data points com diferentes tipos BUS, METRO, TRAM. Cada data point pode ter um ou mais tipos, porque em estações de metro tens também autocarros.
Nas cidades maiores pelo menos.

De momento apenas precisas de 2 modelos: locations e stations
Location 1:

[2018-02-07 18:36] glaand commented on #3
@psyvisions, Se fores ao ficheiro: `api/apps/cities/migrations/0001_initial.py` tens lá o dump das cidades em SQL, baseia-te nisso
'cascais' -> O slug do concelho
'Cascais' -> O nome do concelho
'lisboa' -> O slug da cidade
`migrations.RunSQL(
            "INSERT INTO {0}_community (slug, name, city) SELECT 'cascais' as slug, 'Cascais' as name, city.id FROM cities_city as city WHERE city.slug = 'l

[2018-02-07 18:37] glaand commented on #3
@shizpi ou seja criar um modelo só para as freguesias então?

[2018-02-07 18:52] fabiulous commented on #3
@glaand nepia, distrito, concelho ou freguesia é tudo o mesmo, uma localidade onde apenas algumas são children de outras. Corrige-me se me estiver a falhar algo.

[2018-02-07 18:55] Rui-Santos commented on #3
Devemos distinguir entre Cidades, Vilas e Localidades? Porque se não, então Cities deverá passar a ser Localities, não? E uma Locality será children de um District, County e Parish(Distrito, Concelho e Freguesia) Mas depois, vilas e cidades têm várias freguesias... hmmm

Estruturas de bases de dados são lixadas e partem-me a cabeça toda.

[2018-02-07 19:44] glaand commented on #3
@psyvisions Podes na mesma continuar com a resolução deste problema que entretanto vou definir a base de dados na Roadmap

[2018-02-07 20:02] Rui-Santos commented on #3
Vou tentar usar algo assim, só para ter uma estrutura, ao recolher os dados, depois então se adapta à base de dados.

[code]

[2018-02-07 20:09] glaand commented on #3
Ok! Ou seja, o modelo cidade deverá ser renomeado para concelho?

[2018-02-07 20:20] Rui-Santos commented on #3
Possívelmente. Afinal os Concelhos são todos cidades ou vilas, eu nem reparei se tens vilas incluídas no teu modelo cidade, strike that, não tens, já fui verificar. Tenta ter uma ideia da organização pelo sítio onde estou a ir buscar os dados iniciais, que não incluem localidades, apenas Distritos, Concelhos/Municípios, e Freguesias

http://www.anmp.pt/anmp/pro/mun1/mun205w1.php?dis=01&Itemid=128

[2018-02-07 20:29] glaand commented on #3
Certo, convém ter todos os dados presentes. Como o @shizpi disse e muito bem, numa localidade pode haver várias estações e de vários tipos (Metro, Autocarro, Comboio). Vamos começar então primeiro pela obtenção dos dados das regiões.

[2018-02-07 20:38] Rui-Santos commented on #3
É isso. Depois então se decidirá a melhor maneira de estrutar a base de dados. Slow and steady wins the race.
Possivelmente amanhã a lista sem as localidades está pronta.
As localidades depois vão-me obrigar a visitar os cerca de 450 sites dos municípios, um a um, e aí os dados já não estarão tão bem formatados como estes. Mas nós também não temos pressa. Isto é um projeto com uma dimensão conside

[2018-02-07 20:43] glaand opened #4 "Lista de todas as operadoras de transporte"
É necessário definir a lista de todas as operadores de transporte em portugal (incluíndo as regiões autónomas).

A lista pode ser entregue nos seguintes formatos:
CSV
TSV
JSON

[2018-02-07 20:44] glaand opened #5 "Lista de todos os tipos de transporte"
É necessário definir a lista de todos os tipos de transporte em portugal (incluíndo as regiões autónomas).

A lista pode ser entregue nos seguintes formatos:
CSV
TSV
JSON

[2018-02-07 21:03] glaand opened #6 "Definir a estrutura da base de dados (Diagrama Modelo ER)"
Link do diagrama: https://goo.gl/knyWEZ

Pessoal agradecia o vosso input.

Caso queiram contribuir no diagrama, apenas têm que abrir o link, fazer as alterações e depois ao guardar, autorizar o draw.io no github e escolher o fork do tpp para fazer commit. Depois façam pull request para fazermos peer review!

[2018-02-07 21:03] jrocharodrigues commented on #3
@psyvisions Penso que aqui http://centraldedados.pt/codigos_postais/ deves ter a informação toda que precisas (distritos, concelhos, localidades) já estruturada.
Mesmo que não esteja com a estrutura que pretendes, deve ser mais fácil tirar daqui do que retirar dos sites dos municípios.

[2018-02-07 21:05] glaand commented on #3
@jrocharodrigues e tem formato CSV e JSON!! Que espetáculo!

[2018-02-07 21:06] Rui-Santos commented on #3
@jrocharodrigues estava mesmo no google a procurar uma lista em csv, já me poupaste o trabalho lol Muito obrigado!

[2018-02-07 21:07] Rui-Santos commented on #3
@glaand e está no github também http://github.com/centraldedados/codigos_postais/

[2018-02-07 21:22] glaand commented on #3
@psyvisions Faz o seguinte então!
 - Fork do TPP
 - Git pull do repo original
 - Faz git clone do projeto https://github.com/centraldedados/codigos_postais/ para dentro deste diretorio: api/vendors/centraldedados/codigos_postais
 - git commit & git push para o teu fork
 - Faz um pull request

Tudo feito posso fazer merge das tuas alterações. Isto serve para que as tuas contribuições sejam notáveis

[2018-02-07 21:46] glaand commented on #6
Assigned to: @Qu4tro

[2018-02-07 22:30] glaand commented on #5
Assigned: @shizpi

[2018-02-07 22:42] fabiulous commented on #5
BUS, METRO, TRAM, INTERCITY_BUS, TRAIN, FERRIE, PLANE

Nao tenho certeza de devemos distinguir BUS e INTERCITY_BUS

[2018-02-07 22:43] glaand commented on #5
LOCAL_BUS e INTERCITY_BUS talvez?

[2018-02-07 22:45] fabiulous commented on #5
Aqui ha city trains e intercity trains. Acredito que hajam tambem em Lisboa, nao?

[2018-02-07 22:46] glaand commented on #5
Isso só vai gerar complicações, é melhor deixar só BUS para todos

[2018-02-07 22:50] fabiulous commented on #5
E apenas um enum ou uma row numa tabela.
Se for preciso distingir tambem se faz.
E melhor nao fazer overengineering agora

[2018-02-07 23:04] glaand opened #8 "Usar dados GTFS?"
Usar dados GTFS?

[2018-02-07 23:06] #3 closed, assigned to Rui-Santos

[2018-02-07 23:18] PedroACaldeira commented on #5
hey! Mal soube deste projeto resolvi arranjar conta no git e pôr mãos à obra. Sou estudante de Engenharia Informática e estou interessado em dar uma mãozinha neste projeto! Contem comigo para angariar todos os horários dos transportes da zona de Setúbal!

[2018-02-07 23:30] PedroACaldeira commented on #6
Hey hey
Estava aqui a pensar e se calhar até podia ser interessante se houvesse uma associação entre "Localidades" e "Localidades" que podia exprimir o transporte existente entre duas localidades.

[2018-02-08 11:15] Rui-Santos commented on #8
Podes começar por aqui http://dadosabertos.cm-lisboa.pt/organization/transporlis

E era uma boa ideia, se conseguíssemos converter os horários em GTFS, acho que o problema principal serão os dados de posicionamento GPS, que não existem, e estarmos nós a tentar localizar as paragens é trabalho impossível. Só mesmo indo lá, e trabalho de campo, por enquanto, é para esquecer

[2018-02-08 12:44] Rui-Santos commented on #2
Eu concordo com reactjs para o frontend. Serve para web e mobile. O que evita andar a usar diferentes linguagens ou frameworks para o frontend.

[2018-02-08 13:24] glaand commented on #2
@psyvisions @shizpi Conhecem a tecnologia **NativeScript** ?

[2018-02-08 15:03] glaand commented on #4
Assigned: @jorgeraujo

[2018-02-08 17:36] fabiulous commented on #2
NativeScript não.
Vou tentar ajudar o máximo que puder, mas tenho o Quero Emprego que me leva a maioria do tempo, portanto o que vou fazer mais e partilhar alguma da arquitetura que ja tenho feita, componentes e afins.

[2018-02-09 18:22] glaand commented on #4
Done!

[2018-02-09 18:22] #4 closed, assigned to nobody

[2018-02-09 18:24] glaand commented on #5
done!

[2018-02-09 18:24] #5 closed, assigned to nobody

[2018-02-09 18:36] glaand commented on #8
Como a maior parte da opendata encontra-se disponível em formato GTFS, o best-case é mesmo defini-lo como requisito. Caso seja necessário digitalização de dados, o formato também terá que corresponder a GTFS.

Diagrama GTFS:

![image](https://user-images.githubusercontent.com/17197309/36043620-2fe1c49e-0dd0-11e8-80ec-5a84737ae380.png)

[2018-02-09 18:36] #8 closed, assigned to nobody

[2018-02-09 23:37] glaand commented on #2
@Tiago-OP Roadmap: https://github.com/glaand/tpp/wiki/Roadmap

[2018-02-09 23:37] #2 closed, assigned to nobody

[2018-02-09 23:37] glaand commented on #6
@PedroACaldeira Entra no nosso Slack para discutirmos a ideia :)

[2018-02-09 23:39] glaand commented on #6
Linking issues: https://github.com/glaand/tpp/issues/8

[2018-02-10 18:38] VitorSantos1 commented on #6
Com os dados GTFS que temos, descobri um importador que permite importá-los para tabelas no PostgreSQL: https://cbick.github.io/gtfs_SQL_importer/html/index.html

Penso que, usando o diagrama na issue #8, talvez ligando o "places" a "stops" conseguimos ter uma relação entre rotas e locais. :)

[2018-02-11 18:42] iursevla commented on #8
@psyvisions  @glaand para as localizações GPS de cada estação, seja de autocarro/metro/comboio/etc podemos usar o OpenStreetMap.
Mas claro teremos de ser nós a fazer parsing de todo o ficheiro.
Não tenho muito tempo mas posso tentar fazer um pequeno script para um ficheiro local (por exemplo Almada) e depois vemos se faz sentido ou não.

[2018-02-11 18:51] Rui-Santos commented on #8
@iursevla penso que uma grande parte, se não mesmo a maioria, dos dados que já temos têm coordenadas GPS para estações/apeadeiros de comboios e paragens de autocarro. Apenas iremos precisar dos dados em falta, e para esses sim, usar os dados do OSM será o ideal.

[2018-02-12 01:28] glaand commented on #6
Assigned to: @glaand

[2018-02-12 03:16] glaand commented on #6
Esboço do modelo ER finalizado, precisa-se de 4 reviewers:

- @psyvisions
- @VitorSantos1
- @jorgeraujo
- @Qu4tro

![image](https://user-images.githubusercontent.com/17197309/36082434-a4cafd2c-0fa9-11e8-8efe-80cd448ebbcf.png)

[2018-02-12 14:44] Tiago-OP commented on #6
Na minha opinião parece-me um pouco confuso, ou posso não estar a perceber bem o fim de cada tabela.

Mas por exemplo, já que tens distrito e cidade, estas tabelas não deveriam estar ligadas às rotas?
Ok talvez já esteja a perceber,

Cidades tem x paragens(adicionava FKeys das cidades na tabela)
Cada Rota tem x paragens(aqui talvez um ID sequencial por ordem de paragem com fkey para a tabela parag

[2018-02-12 16:22] Rui-Santos commented on #6
@Tiago-OP O esquema está a espelhar o formato GTFS, mais ou menos, pois ainda faltam alguns campos. Pode ver a aqui a [especificação do formato GTFS](https://developers.google.com/transit/gtfs/reference/)
Provavelmente isto é o menos confuso que pode ficar por agora. Pode ver aqui um [exemplo de um ficheiro GTFS](http://www.transporlis.pt/Portals/0/OpenData/gtfs/zip/1/gtfs_1.zip) que será utilizad

[2018-02-12 16:35] Tiago-OP commented on #6
Ah ok, peço desculpa então :), mais logo já dou uma vista de olhos nessa documentação! GJ

[2018-02-12 17:00] Rui-Santos commented on #6
Já somos dois, mas eu ainda percebo menos de DB's ;) Também pouco mais posso contribuir que com opiniões. E não tem que pedir desculpa de nada, ora essa. Aliás, agradecemos as suas opiniões.

Agora mudando de assunto, para espelhar melhor os dados que temos vindos do vendor/centraldedados/códigos_postais, sugiro este esquema, com a tabela City/Localidades a ser povoada através dos dados de geoloca

[2018-02-12 19:31] jorgeraujo commented on #6
Vou ter uma reunião esta quinta para receber algum feedback de um professor que percebe de bd's. Vai ser uma espécie de validação, por isso era porreiro darem todo o input que conseguirem até lá!

[2018-02-12 20:40] VitorSantos1 commented on #6
@psyvisions @jorgeraujo Não tenho nada a apontar a este último diagrama. Dos casos que me lembro que podem ser menos claros, iremos ter sempre ids em todas as instâncias - o que resolve casos em que as linhas têm números iguais mas rotas diferentes, dependendo das alturas do dia.

Para testar a força da estrutura, é encaixá-la, tal como está, em companhias que sejam mais flexíveis na forma como dã

[2018-02-14 18:39] t1ag0x commented on #6
Podem também incluir o campo localização nas paragens/estações, com as coordenadas GPS, sempre dá para fazer mapas bonitos...
EDIT: já vi o 'lat' e o 'lon'

[2018-02-14 19:45] glaand opened #17 "Interação entre rotas"
Para que possamos interagir entre rotas, isto é, caso o viajante tenha que mudar de linha para seguir viagem, vai ser necessário aplicar um algoritmo em que encontre a paragem mais próxima onde mudou de linha, isto tendo em conta o horário de transporte, duração de viagem e a disponibilidade do transporte.

Para podermos fornecer as rotas mais rápidas até mesmo com várias mudanças de linhas, vai s

[2018-02-14 23:21] VitorSantos1 commented on #17
Nunca trabalhei na parte operacional; no entanto, posso lançar algumas situações que poderão levar a perceber o que determina uma mudança viável de rota:

* Coordenadas (estamos a falar da mesma paragem, geograficamente?)
* Condições da paragem (passagem coberta? acesso a pessoas de mobilidade reduzida?)
* Distância entre paragens (tempo que se demora de uma paragem para outra? Distância?)
* Tempo

[2018-02-15 18:53] VitorSantos1 opened #20 "Fazer deployment, correndo apenas um script Bash"
Como o próprio título diz, o objectivo é juntar as instruções de deployment da pilha Docker, num script em Bash. Isto é um bom avanço, pelos seguintes motivos:

* Instruções bastante mais fáceis para quem começa a colaborar, ficando com uma boa primeira impressão sobre o sistema e com um panorama geral da estrutura do sistema;
* Para quem já está cá há mais tempo, evita erros de digitação, que que

[2018-02-15 19:01] VitorSantos1 opened #21 "Medir a fiabilidade de cumprimento de horários"
Como muita gente que usa transportes públicos, existem várias situações em que os transportes, ou chegam atrasados ou nem sequer aparecem. É uma situação crítica, mesmo para quem apanha apenas essa rota atrasada, que terá consequências maiores para quem queira mudar de rota.

Uma variável que pode ajudar a calcular a melhor rota, com o menor número de atrasos e supressões de viagem, seria ter duas

[2018-02-15 20:43] VitorSantos1 commented on #20
Commits associados:

* https://github.com/glaand/tpp/commit/606dadb2fbf2d8f2248c0cc807513bdb4126ec01
* https://github.com/glaand/tpp/commit/66eb092806c2b40945aa0d02d0c1bc6478e0cc4b
* https://github.com/glaand/tpp/pull/22/commits/d35314e53f6e54de9a87298adbc1929668368f15

[2018-02-15 20:45] VitorSantos1 commented on #20
Pull request:

* https://github.com/glaand/tpp/pull/22

[2018-02-15 23:19] glaand commented on #20
Merged

[2018-02-15 23:19] #20 closed, assigned to VitorSantos1

[2018-02-16 15:07] iursevla commented on #21
Parece-me bem.

Em alguns casos se a companhia disponibilizar uma API para acedermos aos horários em tempo real poderia também ser uma factor preferencial para este cálculo.
É certo que para algumas companhias seria muito complicado fazer isto, enquanto que para outras seria super simples.

[2018-02-16 20:41] VitorSantos1 commented on #21
Ou também, futuramente, seria uma forma do passageiro indicar se tal horário é cumprido ou não, ao estilo do Waze. 🙂

A ideia é haver várias partes a policiarem-se umas às outras, de forma a que o cálculo da rota seja o mais previsível possível.

[2018-02-16 23:00] glaand commented on #6
![graph](https://user-images.githubusercontent.com/17197309/36333150-88abe5a0-1375-11e8-8f94-7bd484235489.png)
Diagrama atual até não houver mudanças

[2018-02-16 23:00] #6 closed, assigned to glaand

[2018-02-16 23:25] fabiulous opened #26 "Adicionar Oauth"
Devemos adicionar Oauth ao projeto.
O diagrama neste momento não tem isso em conta.

Proponho uma tabela chamada UserClaim com 2 valores, type e value
value deve ter uns 500 chars, 255 não e suficiente para alguns tokens.
type apenas nos diz de onde vem o token e que tipo de token
facebook_token_x
facebook_token_x_type_2
...

Um user pode ter vários tokens

[2018-02-17 00:13] glaand opened #27 "Separar os PDF's por pastas (Operadoras de transporte)"
Separar os PDF's por pastas (Operadoras de transporte)

[2018-02-17 00:21] VitorSantos1 opened #28 "Melhorar o diagrama ER na agregação de ficheiros de transportadoras"
Existe uma tabela no diagrama ER, chamada `api.models.gdrive`, que não está ainda clara quando ao seu propósito.

Em suma, é uma tabela que permite guardar ficheiros que estejam associados a uma transportadora, no caso de não haver nenhuma forma de extrair os dados um horário, sem ser por análises OCR de ficheiros em PDF.

No fundo, o objectivo é trabalhar os campos para que esta tabela se torne m

[2018-02-17 00:37] glaand commented on #27
Neste momento os ficheiros são guardados numa pasta `maps`. No modelo `gdrive` está a ser guardado o nome do ficheiro e a operadora de transportes correspondente ao ficheiro. Para melhor organização pretende-se que os ficheiros de cada operadora de transportes sejam guardados em sub-pastas com o nome da operadora.

[2018-02-17 01:44] glaand opened #29 "TypeError: __init__() got multiple values for argument 'type'"
https://sentry.io/tpp/django/issues/466118230/

[code]

[2018-02-17 01:49] glaand commented on #29
Solved [#a4b2e7c](https://github.com/glaand/tpp/commit/a4b2e7c58251ef04fa2ab1019b83b4442e6c025c)

[2018-02-17 01:49] #29 closed, assigned to glaand

[2018-02-17 17:47] glaand commented on #17
A parte mais crucial do sistema vai ser a interpolação de estações. O objetivo final é que todas as rotas estejam interligadas num certo dia. Visto as rotas não serem constantes, isto é, mudarem diariamente, o cálculo das interpolações terá que ser diário. O princípio do cálculo das interpolações vai ser através de áreas circulares. Uma função matemática que encontre para x coordenada o y mais pró

[2018-02-18 19:13] VitorSantos1 commented on #17
A paragem mais próxima parece-me uma questão pacífica.

Sobre o intervalo de compatibilidade de horários, penso que seja variável em relação à viagem após o transbordo. Por exemplo, podes estar disponível para estar 20 minutos à espera de um expresso (aliás, essas transportadoras recomendam-te que estejas 15 minutos, antes da hora de partida), mas esses 20 minutos são demasiado tempo para fazer tr

[2018-03-06 12:07] Smamede commented on #17
Em que lingua e que voces pretendem codificar a app? Eu codifico em Ruby in Rails e ha gems que certamente antevem alguns dos problemas que voces podem estar a enfrentar.

Acho que construir tudo do inicio pode ser extremamente dificil e nao optimiza o tempo. Porque que voces nao adaptam muitos dos metodos ja usados em outras aplicacoes similares a essa (usadas em outros paises), calculam certos a

[2018-03-06 12:11] Rui-Santos commented on #17
@Smamede Estás no Slack do TPP? Podemos falar lá um bocado? Preciso de uma ajuda com RoR, se estiveres disposto a isso.

[2018-03-29 12:57] OldMetalmind opened #31 "Executar "set_development.sh" retorna - "ERROR 'Couldn't find env file'""
- Depois de fazer clone com sucesso
`git clone --recurse-submodules https://github.com/glaand/tpp.git`

- Entrei na pasta 'tpp' criada e executei script _set_development.sh_
[code]

- Decidi criar esse ficheiro vazio, realizou o pull dos docker imagens e mas depois termina com o erro
[code]

Nota: Eu defini uma variável de sistema _DJANGO_SECRET_KEY="inventado"_ julgando que era usado só para dese

[2018-03-29 22:25] glaand commented on #31
Criei ficheiros .env por default para poder initializar o projeto. Basicamente o .env depende do ambiente de execução do projeto. Foi resolvido neste commit --> d9815cca93b43fc37593c3735161ec61d36c54b1

[2018-03-29 22:25] #31 closed, assigned to glaand

[2018-03-30 15:34] OldMetalmind opened #32 "Accesso"
Em Dev, depois de inicializar o projecto com sucesso.

Ao abrir a "Visão geral da API" ( http://0.0.0.0:8000 ) ou "API em formato de JSON" ( http://0.0.0.0:8000/?format=json ) pede-me para autenticar.

<img width="472" alt="screen shot 2018-03-30 at 15 45 42" src="https://user-images.githubusercontent.com/404874/38143378-2442a8ea-3438-11e8-9257-30310ca9a5fa.png">

Não encontrei forma a criar novos

[2018-03-31 23:43] glaand commented on #32
Cria um utilizador superuser com o seguinte comando:
 `docker-compose -f docker-compose.development.yml run --rm web python manage.py createsuperuser` .
Acho que não é necessário criar um utilizador default pois o django fornece um comando para criar superusers, o que acham?

[2018-04-01 22:11] OldMetalmind commented on #32
Concordo que não haja necessidade utilizador default mas no entanto acho fulcral que tal seja informado e explicado, para facilitar a contribuição.

[2018-04-03 19:10] glaand commented on #32
@OldMetalmind Com certeza! Realmente é algo que não está explicito. Gostarías de completar o README.md com os passos necessários para criar um super-utilizador?

[2018-04-05 14:56] OldMetalmind commented on #32
@glaand já fiz um PR #33

[2018-04-21 23:27] #17 closed, assigned to nobody

[2018-04-21 23:27] #21 closed, assigned to nobody

[2018-04-21 23:27] #26 closed, assigned to nobody

[2018-04-21 23:27] #27 closed, assigned to nobody

[2018-04-21 23:27] #28 closed, assigned to nobody

[2018-04-21 23:27] #32 closed, assigned to nobody

[2018-04-21 23:28] glaand opened #34 "[Expedidor] Melhorar CSS da filtragem de feeds"
Os inputs precisam de margem, que de momento estão colados uns aos outros.

[2018-04-21 23:29] glaand opened #35 "[Expedidor] Use ember-metrics to send stats to our Matomo server"
Addon URL: https://github.com/poteto/ember-metrics

[2018-04-21 23:33] glaand opened #36 "[Expedidor] Feeds filtering doesn't work properly"
When filtering feeds the number of feeds above the filters updates but the feeds table doesn't update.

[2018-04-21 23:34] glaand opened #37 "[Expedidor] Changesets filtering doesn't work"
The toggle does nothing. It should send an API call to https://tpp.pt/api/v1/changesets with the parameter applied= set to false or true, but it doesn't.

[2018-04-21 23:38] glaand opened #38 "[Expedidor] Replace all hardcoded links for ENV variables"

[2018-04-21 23:41] glaand opened #39 "[Expedidor] Rever tradução pt-PT"
Commits
https://github.com/tpportugal/tpp_expedidor/commit/c5b3ee11b8a10aa12de8136a647ba050b6aefce0
https://github.com/tpportugal/tpp_expedidor/commit/bbbf01d7a779d075524be5ba36bdf38f53b96891

[2018-04-21 23:55] glaand opened #40 "[Valhalla] Rever e melhorar a tradução pt-PT"
https://github.com/tpportugal/tpp_valhalla/blob/master/locales/pt-PT.json

[2018-04-22 00:01] glaand opened #41 "[Registo de Feeds] Use ember-metrics to send stats to our Matomo server"
Addon URL: https://github.com/poteto/ember-metrics

[2018-04-22 00:03] Rui-Santos commented on #41
Closed with https://github.com/tpportugal/tpp_registo_de_feeds/commit/951442be80bb56ed29370405368997f6c39924c0

[2018-04-22 00:03] #41 closed, assigned to nobody

[2018-04-22 00:03] glaand opened #42 "[Registo de Feeds] Replace all hardcoded links for ENV variables"

[2018-04-22 00:04] Rui-Santos commented on #35
Replicate this https://github.com/tpportugal/tpp_registo_de_feeds/commit/951442be80bb56ed29370405368997f6c39924c0

[2018-04-22 00:06] glaand opened #43 "[Registo de Feeds] Adaptar SCSS atual a novo SCSS conforme o utilizado em TPP.pt"
É necessário adaptar o projeto para utilizar o SCCS de https://github.com/BlackrockDigital/startbootstrap-new-age, o que implica uma atualização para Bootstrap 4 do Bootstrap 3 que é atualizado atualmente.

Os ficheiros de estilo estão localizados aqui

Os ícones e imagens, aqui

Imagens/logótipos do projeto TPP deverão ser requisitados a @Rui-Santos ou a @glaand

[2018-04-22 00:13] glaand opened #44 "[Registo de Feeds] Rever tradução Portuguesa"
Agradeço a quem puder ajudar a rever a tradução.

Commits em questão:
https://github.com/tpportugal/tpp_registo_de_feeds/commit/fbb6f51355ca0bc6d99b7050f09e19a1c2fd97d3
https://github.com/tpportugal/tpp_registo_de_feeds/commit/1753c62d2c7fb15678a9b8302edc102b9b21969e
https://github.com/tpportugal/tpp_registo_de_feeds/commit/73e61db6b4e20eea24c9792ac77f328f7bdf71b9

[2018-04-22 00:43] glaand opened #45 "[Explorador] Use ember-metrics to send stats to our Matomo server"
Addon URL: https://github.com/poteto/ember-metrics

[2018-04-22 00:44] glaand opened #46 "[Explorador] Replace all hardcoded links for ENV variables"

[2018-04-22 00:45] glaand opened #47 "[Explorador] RouteStopPattern Visualizer stops working"
Example URL of the problem: https://tpp.pt/explorador/#/route-stop-patterns?bbox=-8.778762817382812%2C41.05864414643029%2C-8.461189270019531%2C41.221018745822505&traversed_by=r-ez3f-801

When selecting the first 2 RouteStopPatterns, it works as it should, selecting and unselecting the RSP with the radio buttons, but as soon as the last one is selected and shown, it stops working and the console sh

[2018-04-22 00:48] glaand opened #48 "[Banco de dados] Distinguir entre utilizadores admin e normais ao aplicar changesets"
Distinguir entre utilizadores admin e normais ao aplicar changesets.
Permitir que não utilizadores e utilizadores normais criem changesets, apenas permitir a admins aplicá-los.

Ao correr a seguinte função https://github.com/tpportugal/tpp_banco_de_dados/blob/ff3d4074fdf5d1ec8852596c83b3a41731b13d2c/app/controllers/api/v1/changesets_controller.rb#L84-L87 verificar se o utilizador é admin, se não f

[2018-04-24 05:51] glaand opened #49 "[Website] Wrap the project with docker to ensure redundancy"
[Website] Wrap the project with docker to ensure redundancy

[2018-04-24 05:51] glaand commented on #49
Solved at https://github.com/tpportugal/tpp_website/commit/6e88bc31951c6d18d7583949b56e4081cac326e1

[2018-04-24 05:51] #49 closed, assigned to glaand

[2018-04-24 05:53] glaand opened #50 "[Expedidor] Wrap the project with docker to ensure redundancy"
[Expedidor] Wrap the project with docker to ensure redundancy

[2018-04-24 05:55] glaand commented on #50
Solved at https://github.com/tpportugal/tpp_expedidor/commit/cc21552a933288c2b5f3f3dc5d6c932f2a5ed560

[2018-04-24 05:55] #50 closed, assigned to glaand

[2018-04-24 05:58] glaand opened #51 "[Registo de Feeds] Wrap the project with docker to ensure redundancy"
[Registo de Feeds] Wrap the project with docker to ensure redundancy

[2018-04-24 06:05] glaand opened #52 "[Valhalla] Wrap the project with docker to ensure redundancy"
[Valhalla] Wrap the project with docker to ensure redundancy

[2018-04-24 06:08] glaand opened #53 "[Banco de dados] Wrap the project with docker to ensure redundancy"
[Banco de dados] Wrap the project with docker to ensure redundancy

[2018-04-24 06:09] glaand opened #54 "[Explorador] Wrap the project with docker to ensure redundancy"
[Explorador] Wrap the project with docker to ensure redundancy

[2018-04-26 20:43] glaand opened #55 "[Nominatim] Efficient Auto-complete and search function"
How can we improve efficiently our Auto-complete and search function?

How should we rank the results? Street names first than Public locations?

Should we track the user's location to rank the results based on nearness?

[2018-05-05 17:51] Rui-Santos opened #56 "[Banco de dados] Background job to regularly remove changesets associated with failed imports"
For example, when a large feed import failed, crashing Sidekiq. Would be good to have a background job that comes in every day or so to remove the changesets associated with a failed or incomplete FeedVersionImport or set of FeedScheduleImports.

[2018-05-05 20:41] Rui-Santos commented on #37
Closed with https://github.com/tpportugal/tpp_expedidor/commit/7a5260435cc9d9f5ace333a335153a6be7eda138

[2018-05-05 20:41] #37 closed, assigned to nobody

[2018-05-06 16:46] Rui-Santos opened #57 "[Expedidor] JS error when viewing a changeset with multiple change_payloads"
Example URL with the error: https://tpp.pt/expedidor/changesets/46

adapter.js:9 Uncaught TypeError: Cannot read property 'get' of undefined
    at Class.buildURL (adapter.js:9)
    at Class.findMany (rest.js:412)
    at _findMany (-private.js:8647)
    at -private.js:10667
    at Class._flushPendingFetchForType (-private.js:10672)
    at cb (ember-metal.js:5447)
    at OrderedSet.forEach (ember-m

[2018-05-06 21:54] glaand opened #58 "[Brutus] Lançamento da plataforma"
Esta plataforma tem como o propósito de dar possiblidade aos contribuidores fazerem upload e visualizarem os horários dos operadores de transportes públicos de Portugal.

Os horários serão depois utilizados para modelo de comparação, para fazer a garantia de qualidade de dados obtidos pelos operadores digitalmente, isto é, dados vindos de outras fontes não relacionadas.

https://github.com/tpportu

[2018-05-06 22:05] glaand opened #59 "[Expedidor ^ Banco de Dados] Lançamento da plataforma"
Para podermos então contar com a ajuda de colaboradores na submissão de feeds, precisamos de dar uns retoques na plataforma, isto é, introduzir um estatuto de conta no banco de dados (Ex: Admin, Moderador, Contribuidor) e restringir certas ações a certos estatutos e fazer a respetiva documentação incluíndo CONTRIBUTING GUIDELINES.

[2018-05-06 22:25] glaand opened #60 "[Webserver] Criar um docker-container que sirva de proxy dos serviços do TPP"
Criar um docker-container que sirva de proxy dos serviços do TPP
 - Criação do Repo
 - Criação do Container
 - Lançamento no servidor

[2018-05-06 22:33] glaand opened #61 "Roadmap"
# Roadmap
**_Unificação informativa dos transportes públicos de Portugal_**
O TPP é uma aplicação onde unifica e faz o roteamento dos serviços informativos dos operadores de transportes públicos em Portugal. Queremos disponibilizar simplicidade ao utilizador, porém tal requerer um grau de complexidade muito elevado. O nosso __objetivo final__ é que o utilizador apenas tenha que introduzir o local

[2018-05-07 08:52] waldyrious commented on #59
Onde vai ser feita a gestão de acessos das contas? Vai haver uma base de dados de utilizadores dedicada para o site, ou o sistema de autenticação irá usar sistemas já estabelecidos de autenticação como github / twitter / google? Pessoalmente preferia não ter que criar mais um par de username/password, se fosse possível.

Além disso, também gostaria que a gestão de permissões de utilizadores fosse

[2018-05-07 08:58] waldyrious opened #62 "Wiki not editable?"
I might be missing something, but upon visiting the page [https://github.com/tpportugal/tpp/wiki/TPP---Conceito](https://github.com/tpportugal/tpp/wiki/TPP:-Conceito), I cannot see the edit button. I thought wikis on github were always editable by any user of the site. Is there a specific configuration that you have toggled to make it otherwise?

[2018-05-07 09:05] Rui-Santos commented on #59
Provavelmente este issue não tem a tag certa. Apesar de ser no Expedidor que é feita a gestão da API, toda a lógica está implementada no [Banco de dados](https://github.com/tpportugal/tpp_banco_de_dados). A resolução deste issue implicará trabalho tanto no Expedidor como no Banco de dados, sendo a maior parte do trabalho no Banco de Dados. De momento apenas existem 2 tipos de conta, Admin e Utiliz

[2018-05-07 09:08] Rui-Santos commented on #62
I think the default for Github wiki pages is to restrict editing to users with push access to the repository.

[2018-05-07 15:32] waldyrious commented on #62
Oh, they swapped their policy on this, I see. [It used to be](http://web.archive.org/web/20150814132703/https://help.github.com/articles/about-github-wikis/) that the default is every user could edit, and restricting that was an opt-in setting.

[Now](https://help.github.com/articles/about-github-wikis/) it's the opposite:

In any case, I'd suggest [changing that setting](https://help.github.com/a

[2018-05-07 16:43] glaand commented on #59
@waldyrious Muito obrigado pelo teu feedback! Sim, sem dúvida que vamos meter as permissões públicas, isto também para facilitar o leadership de cada equipa.

De momento, as permissões serão dadas por leaders de cada equipa.

O sistema de autenticação irá funcionar por enquanto por e-mail/password.

[2018-05-07 16:49] glaand commented on #62
@waldyrious changed!

[2018-05-07 16:49] #62 closed, assigned to nobody

[2018-05-07 18:59] waldyrious commented on #59
Obrigado a ambos pelas clarificações. Tentarei ajudar no que puder, nem que seja em beta-testing e a fornecer feedback. Keep up the stellar work!

[2018-05-09 15:19] luisfmelo commented on #58
Boas, onde posso encontrar mais informação sobre a plataforma Brutus? Gostava de contribuir e sendo python (django) a linguagem com que trabalhoacho que seria porreiro começar por ai.

[2018-05-09 15:54] aariops commented on #44
Eu ajudo com isto. :smile:

Quais são os ficheiros que têm traduções para ser revistas?

[2018-05-09 16:16] Rui-Santos commented on #44
@aariops Obrigado pela ajuda.
Os ficheiros são os que foram modificados nas commits linkadas no issue. Mas está mesmo muito pouco user-friendly, pois o software não usa nenhuma lib de i18n, é mesmo texto do meio do código fonte. Já foi um filme para traduzir, á procura de strings de texto, e rever é outro filme, de certeza, apesar da diff aqui no Github ajudar um pouco, ao colocar a linha original

[2018-05-09 16:17] glaand commented on #58
Olá @luisfmelo
Eu ainda estou de volta no primeiro protótipo, ainda não o terminei. Ainda não tive tempo de listar do que ainda falta por fazer.
Entra em contacto comigo no gitter para eu te transmitir a nossa visão sobre esta plataforma e possas então meter mãos na massa :P
https://gitter.im/tpportugal/Geral
Cumpz

[2018-05-10 10:33] waldyrious commented on #44
Revi as alterações dos 3 commits acima e não encontrei nada a apontar. A intenção é que seja revisto o restante texto, incluindo o que não foi modificado nesses commits?

[2018-05-10 10:42] Rui-Santos commented on #44
@waldyrious Acho que o texto que foi traduzido está todo nesses commits. Só mesmo alguma pequena correção que tenha sido feita depois é que pode não estar nesses 3. Obrigado pela ajuda.

Vou continuar com o issue aberto, de qualquer maneira, pois eu mesmo quero tornar a rever o que fiz, um pouco mais para a frente, e nestas coisas, quantos mais olhos, melhor ;)

[2018-05-10 11:37] aariops commented on #44
Eu revi o primeiro commit e mudei algumas coisas... feed, regra geral, é masculino por isso mudei. Também alterei algumas questões de estilo de texto, mas no geral estava bom o texto. Sou capaz de fazer mais uns quantos commits para alterar o que falta de maneira a manter o projecto consistente.

[2018-05-10 11:49] #52 closed, assigned to glaand

[2018-05-10 15:50] aariops commented on #39
Há alguns problemas de estilo (não se devem capitalizar termos no meio das frases), mas fora isso não acho que haja nada incorrecto.

[2018-05-10 16:07] Rui-Santos commented on #39
@aariops A maioria de capitalizações no meio de frases não são bem frases em si. Se bem estou lembrado, serão headers de tabelas, nomes de itens de listas, breadcrumbs, coisas assim. Mas vou tornar a rever a ver se apanho alguma coisa que me tenha escapado. Obrigado!

[2018-05-10 16:48] aariops opened #63 "Unificação de strings de texto // Unify text strings per module"
É preciso unificar as strings de texto de cada módulo num só ficheiro. Esta unificação permitirá uma revisão de texto mais fácil e consistente em cada e entre cada módulo, além de facilitar um eventual processo de localização no futuro. Podem ser exportadas para qualquer tipo de ficheiro que suporte tradução, por exemplo *.xml, *.po ou até *.json.

We need to unify all the text strings of each mod

[2018-05-10 16:51] Rui-Santos commented on #63
@aariops As do Valhalla já estão unificadas: https://github.com/tpportugal/tpp_valhalla/blob/master/locales/pt-PT.json
Ficheiro original em en_US: https://github.com/tpportugal/tpp_valhalla/blob/master/locales/en-US.json

[2018-05-10 17:42] Rui-Santos commented on #63
https://github.com/jamesarosen/ember-i18n para
 [Explorador](https://github.com/tpportugal/tpp_explorador) [Explorador de redes de transportes em Portugal]
 [Expedidor](https://github.com/tpportugal/tpp_expedidor) [Administrador do Backend do Banco de Dados]
[Registo de feeds](https://github.com/tpportugal/tpp_registo_de_feeds) [Diretoria de feeds de operadoras]

[2018-05-11 12:29] glaand commented on #55
The search results will be sorted:
RPA (Reference Population Algorithm)
If geolocalization is allowed by user:
    - Order by distance ASC.
If geolocalization is not allowed by user:
    - Order by population of the correspondent municipality DSC.

[From +/- 20 thousand different searches performed]
Having a milestone defined to use the statistical data for ordering the results list, we propose th

[2018-05-11 12:32] glaand opened #64 "Plane Trips from Portugal (Continental) to Madeira or Azores"
Plane Trips from Portugal (Continental) to Madeira or Azores

 - Why should we?
 - Why should we not?
 - Is it necessary?
 - Is it not necessary?
 - How much effort to apply realtime data?

[2018-05-12 14:56] VitorSantos1 commented on #64
* **Why should we?** Because bus lines will have a connection to the remainder of all routes, avoiding their isolation;
* **Why should we not?** Because catching a plane is not simple/fast/immediate/beginner friendly as catching a bus or a subway, for example.

[2018-05-13 18:10] Rui-Santos opened #65 "[Banco de dados] Conveyal feed validation fail"
Conveyal feed validation is failing with the following error

[code]

[2018-05-13 18:11] Rui-Santos opened #66 "[Banco de dados] Google FeedValidator.py doesn't work"
FeedValidator.py is not working. No error is given.

[2018-05-19 19:09] glaand commented on #60
done!

[2018-05-19 19:09] #60 closed, assigned to glaand

[2018-05-19 19:10] glaand commented on #53
done

[2018-05-19 19:10] #53 closed, assigned to glaand

[2018-05-19 20:02] glaand commented on #51
Not needed yet!

[2018-05-19 20:02] #51 closed, assigned to glaand

[2018-05-19 20:02] glaand commented on #54
Not needed yet!

[2018-05-19 20:02] #54 closed, assigned to glaand

[2018-05-25 16:24] Rui-Santos commented on #57
Fixed with https://github.com/tpportugal/tpp_expedidor/commit/2f54702e59b3445531e11154e0de4b15185b1e5f and https://github.com/tpportugal/tpp_expedidor/commit/0854bcaf2180dbf93728ce89e8f6557756a1c0dc

[2018-05-25 16:24] #57 closed, assigned to nobody

[2018-05-25 16:26] Rui-Santos commented on #42
Almost done. Missing documentation site only.